@import "~antd/dist/antd.css";

.App {
  text-align: left;
  padding: 24px;
  max-width: 1000px;
}

.container {
  margin-top: 24px;
  border: 2px solid #bfbfbf;
  padding: 24px;
  display: flex;
  justify-content: space-between;
}

.add-new-folder {
  margin-left: 24px;
  color: blue;
  padding: 8px;
  max-height: 36px;
}
