@import "~antd/dist/antd.css";

.App {
  text-align: left;
  padding: 24px;
  max-width: 1000px;
}

.add-new-folder {
  margin-left: 24px;
  color: blue;
  padding: 8px;
  max-height: 36px;
}

.App .action {
  float: right;
  margin-top: 16px;
}

.App .action > button {
  margin-left: 16px;
}

.icon-folder-filled {
  font-size: 36px;
}

.ant-tree-switcher {
  align-self: center;
}

.ant-tree-switcher .ant-tree-switcher-icon,
.ant-tree-switcher .ant-select-tree-switcher-icon,
.anticon.anticon-caret-right {
  font-size: 16px !important;
  min-width: 28px;
}
